div(id="controls" class="controls")
                div(class="control-left")
                    div(id="left-left", class="control-button") | Rotate-L / A
                    div(id="left-down", class="control-button") | Back / S
                    div(id="left-rigth", class="control-button") | Rotate-R
                    div(id="left-up", class="control-button") Front / W

                div(class="control-panel")
                    div(id="takeoff", class="control-panel-item green")
                        img(src="image/takeoff.png", alt="Despegar")

                    div(id="land", class="control-panel-item orange")
                        img(src="image/land.png", alt="Aterrizar")

                    div(id="calibrate", class="control-panel-item maron")
                        img(src="image/calibrate.png", alt="Calibrar")

                    div(id="switch-camera", class="control-panel-item silver")
                        img(src="image/camera-switch.png", alt="Cambiar camara")

                    div(id="go-main", class="control-panel-item blue")
                        img(src="image/fly.png", alt="Ejecutar ruta")

                    div(id="stop-main", class="control-panel-item red")
                        img(src="image/stop.png", alt="Parar ruta")

                    div(id="flash-light", class="control-panel-item yellow")
                        img(src="image/led.png", alt="Parar ruta")

                    div(id="reset-main", class="control-panel-item turk")
                        img(src="image/reset.png", alt="Reset")


                div(class="control-rigth")
                    div(id="rigth-left", class="control-button") || Left / &lt-
                    div(id="rigth-down", class="control-button") | Down / Down
                    div(id="rigth-rigth", class="control-button") | Rigth / -&gt
                    div(id="rigth-up", class="control-button") | Up / Up
