div(id="video", class="video")
    div(id="open-video", class="video-button")
        img(src="image/video.png", alt="ver videos", width="45", height="45")

    div(id="rec", class="video-button video-margin")
        img(id="image-rec", src="image/rec-off.png", alt="ver videos", width="45", height="45")

    div(class="return-video return", id="return-video")
            | >>

    div(class="video-menu")
        div(class="little-button", id="delete-video") Eliminar video
        div(class="little-button", id="backup-video") Respaldar video
        div(class="little-button") Editar datos
        div(class="little-button") Editar datos
        div(class="little-button") Editar datos


    div(class="video-container")
        div(id="video-list", class="video-list")


