div(class="altitude")
    div(class="altitude-item")
        div 100
    div(class="altitude-item")
        div 98
    div(class="altitude-item")
        div 96
    div(class="altitude-item")
        div 94
    div(class="altitude-item")
        div 92
    div(class="altitude-item")
        div 90
    div(class="altitude-item")
        div 88
    div(class="altitude-item")
        div 86
    div(class="altitude-item")
        div 84
    div(class="altitude-item")
        div 82
    div(class="altitude-item")
        div 80
    div(class="altitude-item")
        div 78
    div(class="altitude-item")
        div 76
    div(class="altitude-item")
        div 74
    div(class="altitude-item")
        div 72
    div(class="altitude-item")
        div 70
    div(class="altitude-item")
        div 68
    div(class="altitude-item")
        div 66
    div(class="altitude-item")
        div 64
    div(class="altitude-item")
        div 62
    div(class="altitude-item")
        div 60
    div(class="altitude-item")
        div 58
    div(class="altitude-item")
        div 56
    div(class="altitude-item")
        div 54
    div(class="altitude-item")
        div 52
    div(class="altitude-item")
        div 50
    div(class="altitude-item")
        div 48
    div(class="altitude-item")
        div 46
    div(class="altitude-item")
        div 44
    div(class="altitude-item")
        div 42
    div(class="altitude-item")
        div 40
    div(class="altitude-item")
        div 38
    div(class="altitude-item")
        div 36
    div(class="altitude-item")
        div 34
    div(class="altitude-item")
        div 32
    div(class="altitude-item")
        div 30
    div(class="altitude-item")
        div 28
    div(class="altitude-item")
        div 26
    div(class="altitude-item")
        div 24
    div(class="altitude-item")
        div 22
    div(class="altitude-item")
        div 20
    div(class="altitude-item")
        div 18
    div(class="altitude-item")
        div 16
    div(class="altitude-item")
        div 14
    div(class="altitude-item")
        div 12
    div(class="altitude-item")
        div 10
    div(class="altitude-item")
        div 8
    div(class="altitude-item")
        div 6
    div(class="altitude-item")
        div 4
    div(class="altitude-item")
        div 2
    div(class="altitude-item")
        div 0
    span(id="altitude-bar")
    h3(class="altitude-number", id="altitude") 0 m

