.switch
    width 40px
    height 14px
    background #00c4ff
    border-radius 20px 20px 20px 20px
    position relative
    > div
        width 20px
        height 20px
        border-radius 50%
        background $letter-whiteColor
        position absolute
        transition left 0.5s

.switch-on
    left 20px
    top -3px
.switch-off
    left 0
    top -3px

.bg-off
    background #bababa




