div(id="control-help-panel", class="control-help-panel")
    h2(class="map-panel-title") Controles

    div(id="close-help", class="close-help red")

    table(class="table-controls")
        tr
            td(class="td") Acción
            td(class="td") Teclá
            td(class="td") Botón
        tr
            td(class="td") Despegar
            td(class="td") P
            td(class="td") Verde
        tr
            td(class="td") Avanzar
            td(class="td") W
            td(class="td")
        tr
            td(class="td") Retrocedes
            td(class="td") S
            td(class="td")
        tr
            td(class="td") Derecha
            td(class="td") Navegacion derecha
            td(class="td")
        tr
            td(class="td") Izquierda
            td(class="td") Navegación izquierda
            td(class="td")
        tr
            td(class="td") Rotar drecha
            td(class="td") D
            td(class="td")
        tr
            td(class="td") Rotar izquierda
            td(class="td") A
            td(class="td")
        tr
            td(class="td") Subir
            td(class="td") Navegación arriba
            td(class="td")
        tr
            td(class="td") Bajar
            td(class="td") Navegación abajo
            td(class="td")
        tr
            td(class="td") Aterrizar
            td(class="td") Enter
            td(class="td") Naranja
        tr
            td(class="td") Calibrar
            td(class="td") C
            td(class="td") Marrón
        tr
            td(class="td") Cambiar Camara
            td(class="td") F/B
            td(class="td") Gris
        tr
            td(class="td") Iniciar ruta
            td(class="td") G
            td(class="td") Azul rey
        tr
            td(class="td") Parar
            td(class="td")
            td(class="td") Rojo
        tr
            td(class="td") Leds intermitentes
            td(class="td") L
            td(class="td") Amarillo
        tr
            td(class="td") Resetear
            td(class="td") R
            td(class="td") Azul
        tr
            td(class="td") Limpiar mapa
            td(class="td")
            td(class="td") Purpura
